{% extends 'shop/basic.html' %}


{% block title %}About Us {% endblock %}
{% block body %}
<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row mt-4">
       
      
      
      <div class="col-lg-4 ">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>who are we</h2>
        <p> AAPKA_APNA_PIZZA is a Pizza website .You will get the Pizzas at the Cheapest Price and with Best Qualtiy available . Make full use of it . Firt time every this type of deals available on Pizza store online.There’s nothing cookie-cutter about Pizza . Not our pizzas. Not our people. And definitely not the way we live life. Around here, we don’t settle for anything less than food we’re proud to serve. And we don’t just clock in. Not when we can also become our best, make friends, and have fun while we’re at it. We’re the pizza company that lives life unboxed.
        </p>
        
      </div>
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Awesome Pizza <span class="text-muted">It’ll blow your mind.</span></h2>
        <p class="lead"> Why? The pizza was awesome. The service felt like home. And the customers were treated like family. And we’ve been delivering that same food and service ever since.</p>
      </div>
      <div class="col-md-7">
        <h2 class="featurette-heading">Made By </h2>
        <p class="lead"> SHUBHAM BHAWAR Student AT S.G.S.I.T.S INDORE IT 3RD year. </p>
      </div>
    </div>

    

{% endblock %}